[Desktop Entry]
Name=Audacity (older 1.3.2-beta)
GenericName=Sound editor
Type=Application
Exec=audacity13
Icon=audacity.png
Terminal=false
Comment=A multitrack audio editor
Encoding=UTF-8
MimeType=audio/x-wav;application/ogg;audio/x-aiff;audio/x-aiffc;audio/x-aifc;audio/basic;application/x-audacity-project;
Categories=AudioVideo;GNOME;
StartupWMClass=Audacity
