[Desktop Entry]
Name=Audacity
GenericName=Sound editor
Type=Application
Exec=audacity
Icon=audacity
Terminal=false
Comment=A multitrack audio editor
MimeType=audio/x-wav;application/ogg;audio/x-aiff;audio/x-aiffc;audio/x-aifc;audio/basic;application/x-audacity-project;audio/x-mp3;audio/midi;audio/x-flac;
Categories=AudioVideo;Audio;GTK;GNOME;Sequencer;X-Jack;AudioVideoEditing;
StartupWMClass=Audacity
